:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --dark_bg_default: #1A1A1A;
    --bg_body: #F0F9FF;
    --dark_bg_body: #282828;
    --lines-color: #DDDDDD;
    --dark_lines-color: #000000;
    --body-text: #333333;
    --dark_body-text: #EDEDED;
    --heart-color: #DC143C;
}

* {
    box-sizing: border-box;
    color: var(--body-text);
    font-family: 'Nunito Sans', sans-serif;
}

.default-bg {
    color: var(--body-text);
    background-color: var(--bg_default);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg_body);
}

ion-icon {
    vertical-align: middle;
}

.button-icon {
    padding-right: 3px;
    font-size: 17px;
}

header>h1 {
    display: inline-block;
    font-size: 17px;
    color: var(--brand-primary);
}

.header-button {
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px var(--lines-color);
    padding: 8px 10px;
    margin-left: 3px;
    font-weight: 600;
    align-items: center;
}

header>span {
    margin: 12px 0px;
}

header {
    padding: 5px 40px 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.heading-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 15px;
}

.heading-text {
    padding-top: 45px;
    text-align: left;
    z-index: 2;
}

.heading-text>h2,
p {
    padding: 0;
    margin: 0;
}

.heading-text>h2 {
    color: var(--brand-secondary);
    font-weight: 900;
    font-size: 19px;
}

.heading-text>p {
    font-weight: 400;
}


.heading-triangle {  
    border-style: solid;
    z-index: 1;
}

.heading-triangle-left {
    border-width: 0px 0 70px 90vw;
    border-color: transparent transparent transparent var(--brand-primary);
    position: absolute;
    left: 0;
}

.heading-triangle-right {
    border-width: 0 90vw 70px 0;
    border-color: transparent var(--brand-secondary) transparent transparent;
    position: absolute;
    right: 0;
}

.default-container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.main-line {
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.main-line-component {
    padding: 5px 10px 5px 10px;
    margin-right: 2px;
}

.search-bar {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#SearchInput {
    width: 100%;
    border: 0px;
    font-size: 17px;
}

.search-icon {
    padding-top: 14px;
    padding-right: 5px;
}

.select-container {
    display: flex;
    width: 40%;
}

.dropdown {
    width: 100%;
    border: 0px;
}

.dropdown>label {
    font-size: 13px;
    font-weight: bolder;
}

select {
    width: 100%;
    border: 0px;
    font-size: 17px;
}

#heartIcon {
    color: var(--heart-color);
    font-size: 20px;
}

strong {
    font-weight: bolder;
}

.cards-container {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 18% 18% 18% 18% 18%;
}

.column {
    width: 100%;
    margin-block: 15px;
}

.card-box {
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.logo {
    height: 170px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 20px;
}

.card-body>h3 {
    font-size: 11px;
}

h4,
h5 {
    font-size: 13px;
}


.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

a {
    text-decoration: none;
}

.raiting-bar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.star {
    color: goldenrod;
}

.light-text {
    font-weight: 200;
}

footer>h4 {
    margin: 0;
}

footer {
    width: 100%;
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Dark-mode {
    --bg_default: var(--dark_bg_default);
    --bg_body: var(--dark_bg_body);
    --lines-color: var(--dark_lines-color);
    --body-text: var(--dark_body-text);
}

@media screen and (min-width: 1600px) {
    .cards-container {
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
    }
}

@media screen and (max-width: 1220px) {
    .cards-container {
        grid-template-columns: 23% 23% 23% 23%;
    }
}

@media screen and (max-width: 970px) {
    .cards-container {
        grid-template-columns: 30% 30% 30%;
    }
}

@media screen and (max-width: 670px) {
    .cards-container {
        grid-template-columns: 45% 45%;
    }
}

@media screen and (max-width: 547px) {
    .main-line {
        display: block;
    }

    .dropdown,
    select {
        width: 100%;
    }

    .select-container {
        width: 100%;
        margin-top: 2px;
    }

    .search-bar {
        width: 100%;
    }
}

@media screen and (max-width: 490px) {
    .cards-container {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 390px) {
    header>span>button {
        font-size: 0px;
    }

    .heading-container {
        margin-bottom: 15px;
    }

    .heading-text {
        padding-top: 60px;
    }
}