@import url('styles.css');

:root {
    --card-bg: #FFFFFF;
    --card-border: #DDDDDD;
    --card-text: #333333;
    --dark-container-bg: #333333;
}

main {
    padding: 30px 15% 80px 15%;
    height: 300px;
    background-color: var(--dark-container-bg);
    color: var(--dark_body-text);
}

section {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    width: 100%;
    box-sizing: border-box;
}

.Heighlited-text {
    color: var(--dark_body-text);
}

#addToFav>ion-icon {
    font-size: 35px;
}

main>h2 {
    color: var(--brand-secondary);
}

main>h2,
.raiting-bar {
    margin: 0;
    padding: 0;
}

main>p {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
}

aside {
    width: 100%;
    max-width: 430px;
    float: right;
    position: relative;
    bottom: 70px;
}

.Card {
    width: 100%;
    padding: 2px;
    background-color: var(--card-bg);
    border: solid 1px var(--card-border);
}

.Card>img {
    height: 200px;
    object-fit: cover;
}

.card-body {
    margin: 10px;
}

.card-body>div {
    height: 160px;
    padding: 20px;
    margin-top: 10px;
    border: solid 1px var(--card-border);
}

.card-body>h3,
.card-body>div>h4,
h5 {
    margin: 0;
    font-size: 14px;
    color: var(--card-text);
}

.light-text {
    text-align: center;
}

#addToFav {
    border: none;
    display: inline-block;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--brand-secondary);
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    border-radius: 3px;
}

details {
    padding: 20px 20px 20px 15%;
    width: 48%;
}

.Details-box>h3>ion-icon {
    color: var(--brand-secondary);
    font-size: 20px;
    padding-right: 5px;
}

details>summary {
    width: 100%;
    border: none;
    list-style: none;
}

.Details-box>h2,
h3 {
    padding: 0;
    margin: 0;
}

.Details-box {
    height: 60px;
    padding: 15px 30px;
    border: solid 1px var(--lines-color);
}

@media screen and (max-width: 1143px) {
    main {
        height: max-content;
    }

    section {
        display: block;
    }

    aside {
        float: none;
        top: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    details {
        width: 100%;
        padding-right: 15%;
    }

    .Details-box {
        height: 80px;
    }
}

@media screen and (min-width: 1500px) {
    section {
        grid-template-columns: 52% 35%;
    }

    details {
        width: 52%;
    }
}

@media screen and (min-width: 1700px) {
    section {
        grid-template-columns: 62% 28%;
    }

    details {
        width: 62%;
    }

}